body{
    width: 1200px;
    background-color: wheat;
    font-family: 'Times New Roman', Times, serif;

}
.cotgosse{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 300px;
    align-content: center;
    margin: 100px ;

}
.cotgosse{
    display: flex;
    justify-content: center;
    background: wheat;
    width: 250px;
    height: 70px;
    
    
}
.cotgosse{
    border: 1px solid blue;
    width: 230px;
    height: 100px;
}
.premier img{
    width: 280px;
    height: 590px;
    margin: 20px;
    padding-bottom: 105px;
}
.deuxiem{
    width: 1000px;
    margin-top: 40px;
    padding: 30px;
    padding-bottom: 150px;
}
.troisiem{
    width: 1000px;
    padding: 33px;
}

.zoro{
    padding-top: 100px;
}

.sache {
    color: black;
    display: flex;
    background:none ;
    border-bottom:1px solid black ; 
    padding: bottom 4px;

}
.deuxiem.sache, button{
    background: none;
    border: none;
    padding-right: 10px;
}
.deuxiem.sache, button{
    border: 0px solid darkgreen;
    background-color: aquamarine;
}

.zoro{
    display: flex;
    border: none;
    padding: 55%;
    margin: -15px;
}
input{
    background: none;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
input[tupe="button"]{
    border: 2px solid black;
    background: none;
}
